<%= form_for @tramite, url: tramites_url, html: {:class => "form-horizontal"} do |f| %>
    <div class="form-group">
        <label class="control-label col-lg-2">Unidad</label>
        <div class="col-lg-10">
          <%= f.text_field :uf, {class: "form-control", placeholder: "ej. 1234567"} %>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-lg-2">Motivo</label>
        <div class="col-lg-10">
          <%= f.text_field :id_motivo_tr, {class: "form-control", placeholder: "ej. 12"} %>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-lg-2">Nombre</label>
        <div class="col-lg-10">
          <%= f.text_field :razon_soc, {class: "form-control", placeholder: "ej. ROQUE RABUFFETI"} %>
        </div>
    </div>

    <%= content_tag :button, :type => :submit, :class => 'btn bg-purple-400 btn-labeled btn-xs' do %>
      <b><i class="fa fa-check-circle-o"></i></b>
      Crear
    <% end %>&nbsp;&nbsp;
    <%= content_tag :button, :type => :submit, :class => 'btn bg-pink-400 btn-labeled btn-xs' do %>
      <b><i class="icon-check"></i></b>
      Crear
    <% end %>&nbsp;&nbsp;
    <%= content_tag :button, :type => :submit, :class => 'btn bg-info btn-labeled btn-xs' do %>
      <b><i class="glyphicon glyphicon-thumbs-up"></i></b>
      Crear
    <% end %>&nbsp;&nbsp;
    <%= content_tag :button, :type => :submit, :class => 'btn bg-teal-400 btn-labeled btn-xs' do %>
      <b><i class="icon-checkmark4"></i></b>
      Crear
    <% end %><br>

<% end %>

