<%= form_for @tramite, url: tramites_url, html: {:class => "form-horizontal"} do |f| %>
    <div class="form-group">
        <label class="control-label col-lg-2">Unidad</label>
        <div class="col-lg-10">
          <%= f.text_field :uf, {class: "form-control", placeholder: "ej. 1234567"} %>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-lg-2">Nombre</label>
        <div class="col-lg-10">
          <%= f.text_field :razon_soc, {class: "form-control", placeholder: "ej. ROQUE RABUFFETI"} %>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-lg-2">Motivo</label>
        <div class="col-lg-10">
          <%= f.collection_select(:id_motivo_tr, @motivos, :id_motivo_tr, :descripcion, {},{class: "selectbox"}) %>
        </div>
    </div>
    

    <%= content_tag :button, :type => :submit, :class => 'btn bg-info btn-labeled btn-xs pull-right' do %>
      <b><i class="icon-checkmark4"></i></b>
      Crear
    <% end %>

<% end %>

<%= javascript_tag do %>
  $('.selectbox').selectBoxIt({
        autoWidth: false
    });
<% end %>