<tr>
  <td><%= tramite.id_tramite %></td>
  <td><%= tramite.id_sc %></td>
  <td><%= tramite.ingreso_fh %></td>
  <td><%= tramite.ingreso_login %></td>
  <td><%= tramite.razon_soc %></td>
  <td><%= tramite.descripcion %></td>
</tr>