<%= form_for @consulta, html: {:class => "form-horizontal stepy-basic"} do |f| %>
  <fieldset title="1">
    <legend class="text-semibold">Identificar Persona</legend>
    <div class="form-group">
        <label class="control-label col-lg-2">Nombre/Doc/Nro</label>
        <div class="col-lg-10">
          <%= render partial: "/controls/selects/select_persona", locals:{personas: @personas, select_id: 'spersona'} %>
        </div>
        <div class="row">
          <div class="col-md-12" id="div_persona_show" style="margin-top:10px;">
          </div>
        </div>
    </div>
  </fieldset>

  <fieldset title="2">
    <legend class="text-semibold">Datos Consulta</legend>
    <div class="form-group">
        <label class="control-label col-lg-2">Canal</label>
        <div class="col-lg-10">
          <%= f.collection_select(:id_canal_preg, @canales, :id, :descripcion, {},{class: "selectbox", id: "scanales"}) %>
        </div>
    </div>
     <div class="form-group">
        <label class="control-label col-lg-2">Pregunta</label>
        <div class="col-lg-10">
          <%= f.text_field :pregunta, {class: "form-control", placeholder: "ej. Que hora es?"} %>
        </div>
    </div>
     <div class="form-group">
        <label class="control-label col-lg-2">Respuesta</label>
        <div class="col-lg-10">
          <%= f.text_field :respuesta, {class: "form-control", placeholder: "ej. Son las 5 menos 5"} %>
        </div>
    </div>
  </fieldset>
   <fieldset title="3">
    <legend class="text-semibold">Guardar</legend>
    
  </fieldset>
     <%= content_tag :button, :type => :submit, :class => 'btn btn-primary stepy-finish' do %>
     Crear<i class="icon-check position-right"></i>
     <% end %>
<% end %>

 <%= javascript_tag do %>


$(function() {

    //Canales 
    $('#scanales').select2();

    
    // Override defaults
    $.fn.stepy.defaults.legend = false;
    $.fn.stepy.defaults.transition = 'fade';
    $.fn.stepy.defaults.duration = 150;
    $.fn.stepy.defaults.backLabel = '<i class="icon-arrow-left13 position-left"></i> Back';
    $.fn.stepy.defaults.nextLabel = 'Next <i class="icon-arrow-right14 position-right"></i>';



    // Wizard examples
    // ------------------------------

    // Basic wizard setup
    $(".stepy-basic").stepy();



    // Initialize plugins
    // ------------------------------

    // Apply "Back" and "Next" button styling
    $('.stepy-step').find('.button-next').addClass('btn btn-primary');
    $('.stepy-step').find('.button-back').addClass('btn btn-default');

    // Styled checkboxes and radios
    $('.styled').uniform({
        radioClass: 'choice'
    });


    // Styled file input
    $('.file-styled').uniform({
        fileButtonClass: 'action btn bg-blue'
    });

    $("#spersona").on("select2:select", function(e) {
          console.log(e.params['data']['id']);
          $.ajax({url: "<%= persona_show_path() %>", data: {q: e.params['data']['id']}});
    }).on("select2:unselect", function(e) {
          console.log("unselect");
          $("#div_persona_show").html("");
    });;
    
});
 
<% end %>

