<div class="row">
  <div class="panel border-left-lg border-left-primary">
	<div class="panel-body">
	  <div class="row">
		<div class="col-md-8">
		  <h5 class="no-margin-top"><span class="text-success" >#<%= persona.persona_cod %>. <%= persona.razon %></span></h5>
		  <p class="mb-15">Direccion Calle Rivadavia #1025</p>
		  <p class="mb-15"><%= persona.tipo_doc %>.<%= persona.nro_doc %></p>
	    </div>
	    <div class="col-md-4">
		 Fecha de alta: <%= persona.created_at %>
		</div>
	  </div>
	  <div class="row">
		<% persona.imponibles.each do |impon|  %>
	  	  <div class="panel panel-flat">
	 	    <div class="panel-body">
	 	      <div class="col-md-8">
	  	  	  	<span class="text-primary" >#<%= impon.imponible_id %>.<%= impon.imponible_type %></span><br>
	  				Titular <span class="text-primary" ><%= impon.titular.razon %></span><br>
	  				Responsable de Pago <span class="text-primary" ><%= impon.responsable_pago.razon %></span>
	  		  </div>
	  		  <div class="col-md-4">
		 		Fecha de alta: <%= impon.fh_alta %>
		 		Estado: <span class="label label-primary">Alta</span>
			  </div>
	  	  	</div>
	  	  </div>
	  	<%end%>
	  </div>
	</div>
    <div class="panel-footer panel-footer-condensed">
								<div class="heading-elements">
									<span class="heading-text">Notificaciones: <span class="text-semibold">Sin Datos</span></span>

									<ul class="list-inline list-inline-condensed heading-text pull-right">
										<li class="dropdown">
											<a aria-expanded="false" href="#" class="text-default dropdown-toggle" data-toggle="dropdown"><i class="icon-menu7"></i> <span class="caret"></span></a>
											<ul class="dropdown-menu dropdown-menu-right">
												<li><a href="#"><i class="icon-alarm-add"></i> Check in</a></li>
												<li><a href="#"><i class="icon-attachment"></i> Attach screenshot</a></li>
												<li><a href="#"><i class="icon-rotate-ccw2"></i> Reassign</a></li>
												<li class="divider"></li>
												<li><a href="#"><i class="icon-pencil7"></i> Edit task</a></li>
												<li><a href="#"><i class="icon-cross2"></i> Remove</a></li>
											</ul>
										</li>
									</ul>
								</div>
							<a class="heading-elements-toggle"><i class="icon-more"></i></a></div> 
  </div>
</div> 


	 