<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

  <title>Xpedia</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render partial: "partials/top_bar" %>  

  <%= render partial: "partials/menu" %>  

  <!-- Page container -->
  <div class="page-container">
    <!-- Page content -->
    <div class="page-content">
      <!-- Main content -->
      <div class="content-wrapper">

	    <%= yield %> 
      
      </div>

      <!-- /main content -->
    </div>
    <!-- /page content -->
  </div>
  <!-- /page container -->

  <%= render partial: "partials/footer" %> 

</body>
</html>
